openapi: 3.0.0
info:
  title: Book API
  description: API for tracking your books
  version: 1.0.0
servers:
- url: /
paths:
  /books:
    get:
      responses:
        "200":
          description: List books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
components:
  schemas:
    inline_response_200:
      required:
      - items
      type: object
      properties:
        items:
          type: array
          items:
            required:
            - title
            type: object
            properties:
              title:
                type: string
                example: Time Enought For Love
            additionalProperties: false
